.test-block {
	width: 200px;
}

.height-300 {
	height: 300px;
	background: #2877bb;
}

.height-200 {
	height: 200px;
	background: #f0bb00;
}

.height-100 {
	height: 100px;
	background: #6cb219;
}

h2 {
	cursor: pointer;
}